<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Blogen</title>

    <!-- Icons for this template -->
    <link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Stylesheet -->
    <!-- build:css -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="index.html">
              <h3 class="d-inline align-middle">Blogin</h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </nav>


  <!-- Header -->
  <section class="main-header text-white bg-primary py-2">
    <div class="container">
      <h1><i class="fa fa-user mr-1"></i>Blogin Admin</h1>
    </div>
  </section>


  <!-- Action Buttons -->
  <section id="actions" class="bg-light py-4 mb-4">
    <div class="container">
      <div class="row">
        
      </div>
    </div>
  </section>

  <!-- Login -->
  <section id="login">
    <div class="container">
      <div class="row">
        <!-- col-md-12 -->
        <div class="col-md-6 mx-auto">
          <!-- Table -->
          <div class="card">
            <div class="card-header">
              <h4>Login</h4>
            </div>
            <div class="card-body">
              <form action="../../index.html">
                <div class="form-group">
                  <label for="user-email">Email</label>
                  <input type="text" id="user-email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="user-name">Password</label>
                  <input type="password" id="user-name" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Login">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer id="main-footer" class="py-3 bg-dark text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 mx-auto">
          <p class="lead">Copyright &copy; 2019</p>
        </div>
      </div>
    </div>
  </footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/vendor/jquery.slim.min.js"></script>
<script src="../js/vendor/popper.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<script src="../js/vendor/navbar-fixed.js"></script>
<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>

<script>
        CKEDITOR.replace( 'addPostEditor' );
</script>
<!-- build:js -->
<script src="../js/app.js"></script>
<!-- endbuild -->
</body>
</html>
