// Layout Style
body{
	margin-top: 100px;
}

.navbar{
	box-shadow: 2px 2px 5px $primary;
	opacity: 0.8;
	background: #fff;

	.nav-item{
		font-size: 1.4rem;
		padding-right: 20px;
	}
}

#showcase{
	position: relative;
	background: url("../img/mountains.jpg");
	min-height: 600px;

	.header-overlay{
		background: $header-overlay;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.info-header{
	width: 50%;
	margin: auto;
	border-bottom: 1px solid #ddd 
}

#authors{
	img{
		margin-top: -50px;
	}
	.fa{
		font-size: 25px;
	}
	.card:hover{
		background: $primary;
		color: #fff;

		.fa{
			color: #fff;
		}
	}
}


/* 

#explore-section{
	.fa-check{
		padding: 5px;
		color: #fff;
		background: #333;
		border-radius: 5px;
		font-size: $icon-size;
	}
}

#create-section{
	.fa-check{
		padding: 5px;
		color: $primary-color;
		background: #fff;
		border-radius: 5px;
		font-size: $icon-size;
	}
}

#share-section{
	.fa-check{
		padding: 5px;
		color: #fff;
		background: #333;
		border-radius: 5px;
		font-size: $icon-size;
	}
} */