<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Glozzom Theme</title>

    <!-- Icons for this template -->
    <link href="../fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Stylesheet -->
    <!-- build:css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/slick-theme.css">
    <link rel="stylesheet" href="../css/slick.css">
    <link href="../css/app.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="index.html">
              <h3 class="d-inline align-middle">Glozzom</h3>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="../../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="about.html">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="services.html">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="blog.html">Blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

 <!-- Page Header -->
 <section id="page-header" class="pt-5">
   <div class="container">
     <div class="row">
       <div class="col-md-6 m-auto text-center">
         <h1>About Us</h1>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores tenetur, fuga iusto.</p>
       </div> 
     </div>
   </div>
 </section>

 <!-- Main Section -->
 <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>What We Do</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dicta itaque veniam vitae quibusdam atque consectetur quos error, autem saepe quasi libero amet laborum ratione, asperiores cupiditate dolorem ut magnam!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dicta itaque veniam vitae quibusdam atque consectetur quos error, autem saepe quasi libero amet laborum ratione, asperiores cupiditate dolorem ut magnam!</p>
        </div>
        <div class="col-md-6">
          <img src="http://lorempixel.com/400/400/business/7" alt="" 
          class="about-img img-fluid rounded-circle d-none d-md-block">
        </div>
      </div>
    </div>
 </section>

 <!-- Icon Boxs -->
 <section id="about" class="py-3">
    <div class="container">
      <!-- First Row -->
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-building"></i>
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum dolor sit amet. Expedita dicta itaque veniam vitae quibusdam atque consectetur</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-bullhorn"></i>
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum dolor sit amet. Expedita dicta itaque veniam vitae quibusdam atque consectetur</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-comments"></i>
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum dolor sit amet. Expedita dicta itaque veniam vitae quibusdam atque consectetur</p>
            </div>
          </div>
        </div>
      </div>

       <!-- Second Row -->
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-clock-o"></i>
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum dolor sit amet. Expedita dicta itaque veniam vitae quibusdam atque consectetur</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-cc"></i>
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum dolor sit amet. Expedita dicta itaque veniam vitae quibusdam atque consectetur</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-center text-white">
            <div class="card-body">
              <i class="fa fa-coffee"></i>
              <h2>Lorem ipsum</h2>
              <p>Lorem ipsum dolor sit amet. Expedita dicta itaque veniam vitae quibusdam atque consectetur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>

 <!-- Testimonial -->
 <section id="testimonial" class="p-4 bg-dark text-white">
    <div class="container">
      <h2 class="text-center">Testimonial</h2>   
      <div class="row">
        <div class="col">
          <div class="slider">
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor, consectetur adipisicing elit. Odit sit temporibus aut!</p>
                <footer class="blockquote-footer">John Smith from<cite title="Company 1">conpany 1</cite></footer>
              </blockquote>                  
            </div>
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor, consectetur adipisicing elit. Odit sit temporibus aut!</p>
                <footer class="blockquote-footer">Mark Iren from<cite title="Company 2">conpany 2</cite></footer>
              </blockquote>                  
            </div>
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor, consectetur adipisicing elit. Odit sit temporibus aut!</p>
                <footer class="blockquote-footer">Tom Mcarager from<cite title="Company 3">conpany 3</cite></footer>
              </blockquote>                  
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>

  

  <footer id="main-footer" class="py-3 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-6 mx-auto">
          <p class="lead">Copyright &copy; 2019</p>
        </div>
      </div>
    </div>
  </footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../js/vendor/jquery.slim.min.js"></script>
<script src="../js/vendor/popper.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
<script src="../js/slick.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

<!-- build:js -->
<script src="../js/app.js"></script>
<!-- endbuild -->
</body>
</html>
